# Fichiers générés par Maven
target/

# Fichiers de sauvegarde créés par certains éditeurs de texte
*~

# Fichiers de configuration d'IDE
.idea/

# Fichiers de journalisation
*.log

# Fichiers de propriétés
*.properties

# Fichiers de sauvegarde créés par Eclipse
*.bak

# Fichiers de configuration pour NetBeans
/nbproject/private/
/nbproject/gradle.xml
/nbbuild/
/dist/
/nbactions.xml
